/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/components/buttons/button.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-wrapper * {
  font-size: 13px;
}
.button-wrapper .button {
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.button-wrapper .button.light {
  border: 1px solid #000;
}
.button-wrapper .button.light:hover {
  color: #fff;
  background-color: #000;
}
.button-wrapper .button.dark {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.button-wrapper .button.dark:hover {
  background-color: #fff;
  color: #000;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./app/(routes)/cart/cart.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
#cart {
  width: 100%;
  min-height: calc(100vh - 330px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#cart .list-title {
  margin: 0;
  text-align: start;
}
#cart .article-subtitle {
  padding: 80px;
  margin: 0;
}
#cart .content-box {
  width: 75%;
  min-width: 950px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
@media all and (max-width: 1200px) {
  #cart .content-box {
    width: calc(100% - 80px);
    min-width: unset;
    flex-direction: column;
  }
}
#cart .content-box .items-wrapper {
  width: 70%;
  margin-bottom: 160px;
}
@media all and (max-width: 1200px) {
  #cart .content-box .items-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }
}
#cart .content-box .items-wrapper .item-wrapper {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cart .content-box .items-wrapper .item-wrapper .img-wrapper {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  border-radius: 5px;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper {
  width: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper > div:nth-child(2) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper > div:nth-child(2) img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper .count-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper .count-wrapper > div {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  align-items: flex-start;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  padding: 0;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper .count-wrapper > p {
  margin: 0 10px;
  width: 30px;
  text-align: center;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper .remove-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper .remove-wrapper > p {
  margin: 0 24px 0 30px;
  width: 30px;
  text-align: center;
}
#cart .content-box .items-wrapper .item-wrapper .info-wrapper .icon-wrapper {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
#cart .content-box .checkout-wrapper {
  width: 30%;
  padding-left: 40px;
}
@media all and (max-width: 1200px) {
  #cart .content-box .checkout-wrapper {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 120px;
  }
}
#cart .content-box .checkout-wrapper .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cart .content-box .checkout-wrapper .text-wrapper .article-title {
  text-align: start;
  margin: 0;
  margin-bottom: 2px;
}
#cart .content-box .checkout-wrapper .text-wrapper .list-title {
  text-align: end;
  width: 100%;
  margin-bottom: 9px;
  font-weight: 300;
}
#cart .content-box .checkout-wrapper .button-wrapper {
  width: 100%;
}
#cart .content-box .checkout-wrapper .button-wrapper p {
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
