@import "../..//mixin.scss";

.account-page {
  height: calc(100vh - 55px);
  @include flex-center;
  .login-wrapper {
    @include flex-center;
    flex-direction: column;
    .article-subtitle {
      padding: 40px 0 5px;
      margin: 0;
    }
    .list-title {
      padding: 0;
      margin-bottom: 10px;
    }
    .login-box {
      border-radius: 20px;
      width: 450px;
      height: 350px;
      .input-item {
        width: 100%;
      }
      .button-wrapper {
        margin-top: 8px;
        .button {
          width: 100%;
          border-radius: 12px;
          text-align: center;
          border-width: 2px;
          padding: 16.5px 20px;
          @include list-title;
        }
      }
    }
  }
}
